@{
    ViewData["Title"] = "Home Page";
    HomeViewModel homeViewModel = Model;
}

<!-- Background Area Start -->
<section id="slider-container" class="slider-area two">
    <div class="slider-owl owl-theme owl-carousel">
        @foreach (BackgroundArea backgroundArea in homeViewModel.BackgroundAreas)
        {
            <!-- Start Slingle Slide -->
            <div class="single-slide item" style="background-image: url(img/slider/@backgroundArea.Image)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content text-center">
                                        <h2>@backgroundArea.Title</h2>
                                        <p>@backgroundArea.Description</p>
                                        <a class="default-btn" asp-controller="About" asp-action="Index">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
            <!-- End Slingle Slide -->
        }


    </div>
</section>
<!-- Background Area End -->
<!-- Service Start -->
<div class="service-area two pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (Service service in homeViewModel.Services)
            {
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-service">
                        <h3><a href="teacher.html">@service.Teacher</a></h3>
                        <p>@service.Description</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="about-area pb-155">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("About")
        </div>
    </div>
</div>

<!-- About End -->
<!-- Courses Area Start -->
<div class="courses-area two pt-150 pb-150 text-center" style="background: url(../img/course/@homeViewModel.CoursesAreaBackground.Image) ;background-attachment: fixed;
">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section1.png" alt="section-title">
                    <h2>@homeViewModel.CoursesAreaBackground.Title</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Course")
        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Notice Start -->
<section class="notice-area two pt-140">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("Notice")
        </div>
    </div>
</section>
<!-- Notice End -->
<!-- Event Area Start -->
<div class="event-area three text-center pt-100 pb-115">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Event")
           
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
@await Component.InvokeAsync("Testimonial")
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Blog")
        </div>
    </div>
</div>
<!-- Blog Area End -->
